@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Montserrat:wght@400;500&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: #e4e5ea;
  background-color: #1e1e1e;

  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
